* {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

  body {
      background-color: $bgColor;
      font-family: $fontBase;
      font-weight: $fontWeight;
      font-size: $fontSize;
      color: $textColor;
      overflow: hidden;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
  }
