$bgColor: #F7F9FB;
$borderColor: #DDDDDD;
$textColor: #576271;
$fontBase: 'Open Sans', sans-serif;
$fontSize: 13px;
$fontWeight: 400;

$blueColor: #1C7CD5;
$darkColor: #576271;
$redColor: #c70000;
$greenColor: #5CB85C;
$orangeColor: #ff8800;
