.select {
  position: relative;
  height: 100%;
  background: rgba(0,0,0,0.8);

  &.openned {
    .select-header {
      top: 0;
    }
    .select-body {
      top: 50px;
    }
    .list {
      display: block;
    }
    .displaybox {
      display: none;
    }
  }

  &-header {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    transition: top 0.5s ease-in-out;

    button {
      margin: 0 3px;
    }
  }

  &-body {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: scroll;
    transition: top 0.5s ease-in-out
  }

  .list {
    display: none;
    height: 100%;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding: 6px;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 6px;
      vertical-align: top;
      cursor: pointer;

      &.selected {
        padding: 2px;

        .container {
          border: 4px solid rgba(255,50,50,1);
        }
      }

      &:hover {
        padding: 2px;

        &.selected {
          .container {
            border: 4px solid rgba(255,150,150,1);
          }
        }

        .container {
          border: 4px solid rgba(0,200,100,1);
        }
      }

      .container {
        position: relative;
        width: 100%;
        height: 100%;

        &.show {
          .progress {
            display: none;
          }
        }

        &.upload {
          .progress {
            &-text {
              text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
            }
          }
          img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            opacity: 0.2;
          }
        }

        .progress {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.1);
          z-index: 1;

          &-bar {
            position: absolute;
            width: 0%;
            height: 100%;
            background: rgba(0,0,0,0.2);
            z-index: 0;
          }

          &-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: #cccccc;
            transform: translate(-50%,-50%);
            font-size: 40px;
            text-align: center;
            z-index: 1;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .displaybox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 15px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.2);

    span {
      display:block;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      color: #666666;
      line-height: 22px;
    }

    button {
      margin-top: 15px;
    }
  }
}

